
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}


.bloco-destaque {
  display: flex;
  align-items: center; 
  gap: 20px;
  margin-bottom: 40px;
  justify-content: flex-start; 
}


.texto-destaque {
  color: #21139e;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  max-width: 500px; 
   
}


.imagem-destaque {
  width: 350px; 
  height: auto;
  border-radius: 8px;
}

.texto-destaque2 {
  color: #9e131a;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  max-width: 500px; 
  text-align: justify; 
}

.imagem-destaque2 {
  width: 350px; 
  height: auto;
  border-radius: 8px;
}